* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

:root {
    --azul: #35477d;
    --rojo: #f67280;
    --gris: #e5e5e5;
    --blanco: #ffffff;
}

html {
    font-size: 16px
}

h1 {
    font-size: 3rem;
    line-height: 3.4rem
}

h2 {
    font-size: 2rem;
    line-height: 2.4rem
}

h3 {
    font-size: 1.4rem;
    line-height: 1.8rem
}

p {
    font-size: 1rem;
    line-height: 1.4rem
}

    .header {
        background-image: url(../img/fondoJ80.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        width: 100%;
        height: 70vh;
        padding: 80px 0 0 0
    }

        .contiene-header {
            max-width: 1200px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: center
        }

            .contiene-header h1 {
                color: var(--gris)
            }

            .buscador {
                display: flex;
                flex-flow: row nowrap;
                padding: 2em 0
            }

                input[type="date"] {
                    min-width: 200px;
                    border: none;
                    outline: none;
                    font-family: 'Montserrat', sans-serif;
                    color: var(--azul);
                    font-weight: 800;
                    height: 50px;
                    padding: 0 0 0 1em;
                    border-right: 1px solid var(--gris);
                    border-radius: 5px 0 0 5px
                }

                select {
                    -webkit-appearance: none;
                    border-radius: none;
                    min-width: 200px;
                    outline: none;
                    height: 50px;
                    font-family: 'Montserrat', sans-serif;
                    color: var(--azul);
                    font-weight: 800;
                    border: none;
                    border-right: 1px solid var(--gris);
                    border-radius: 0px 0px 0px 0px;
                    padding: 0 3em 0 1em
                }

                .last {
                    border-radius: 0 5px 5px 0
                }

                input[type="search"] {
                    min-width: 200px;
                    border: none;
                    outline: none;
                    font-family: 'Montserrat', sans-serif;
                    color: var(--azul);
                    font-weight: 800;
                    height: 50px;
                    margin: 0 2em;
                    padding: 0 0 0 1em;
                    border-right: 1px solid var(--gris);
                    border-radius: 5px
                }

                    input[type="search"]::placeholder {
                        color: var(--azul)
                    }

                input[type="submit"] {
                    border: none;
                    outline: none;
                    font-family: 'Montserrat', sans-serif;
                    color: var(--gris);
                    font-weight: 800;
                    height: 50px;
                    background: var(--rojo);
                    padding: 0 4em;
                    border-radius: 5px;
                    cursor: pointer
                }

                    input[type="submit"]:hover {
                        background: var(--azul);
                        transition: all ease .2s
                    }

    
    .nav {
        width: 100%;
        height: 80px;
        background: var(--blanco);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

        .contiene-nav {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 1em 0
        }

            .logo img{
                width: 150px;
                height: auto
            }

            ul {
                list-style-type: none
            }

                ul li {
                    display: inline-block
                }

                    ul li a {
                        margin: 0 0 0 2em;
                        text-decoration: none;
                        color: var(--azul);
                        font-weight: 800;
                    }

                        ul li a:hover {
                            color: var(--rojo);
                            transition: all ease .2s
                        }

                    .btn-blue {
                        color: var(--blanco);
                        background: var(--azul);
                        padding: 1em 2em;
                        border-radius: 5px;
                    }

                        .btn-blue:hover {
                            color: var(--blanco);
                            background: var(--rojo);
                            transition: all ease .2s
                        }


.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center
}

    .restaurantes {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 3em 0
    }

        .restaurantes h2 {
            color: var(--azul);
        }

        .linea {
            width: 50%;
            text-align: left;
            height: 1px;
            background: var(--gris);
            border-radius: 1px;
            margin: 1em 0
        }

        .carrusel, .segundo {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: space-between
        }

        .comidas {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between
        }

            .article-restaurantes {
                display: flex;
                flex-flow: column wrap;
                align-items: flex-start;
                width: 22%;
                max-width: 250px;
                padding: 2em 0;
                border-bottom: 1px solid var(--gris);
                cursor: pointer
            }

            .article-sabores {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                width: 24%;
                height: 80vh;
                padding: 2em;
                text-align: center;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer
            }

                .article-sabores h2, .article-sabores span {
                    color: var(--blanco);
                }

                .article-sabores span {
                    font-size: 1rem;
                    line-height: 2rem;
                    font-weight: 400;
                }

            .cperu, .cchile, .cchina, .crusa {
                background: var(--azul);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
                cursor: pointer
            }

            .cperu {
                background-image: url('../img/cperu.jpg')
            }

            .cchile {
                background-image: url('../img/cchile.jpg')
            }

            .cchina {
                background-image: url('../img/cchina.jpg')
            }

            .crusa {
                background-image: url('../img/crusa.jpg')
            }

                .cperu:hover, .cchile:hover, .cchina:hover, .crusa:hover {
                    background-image: none;
                    background: var(--rojo);
                    transition: .2s
                }

                .imagen-restaurantes {
                    width: 100%;
                    border-radius: 5px;
                    overflow: hidden
                }

                    .imagen-restaurantes img {
                        width: 100%;
                        height: auto;
                        display: block
                    }

                .article-restaurantes h3 {
                    color: var(--azul);
                    padding: 1em 0 .5em 0
                }

                .descripcion {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                }

                    .valoracion {
                        display: flex;
                    }

                        .valoracion img {
                            width: 12px;
                            height: 12px;
                        }

                    .descripcion p {
                        color: var(--azul);
                        font-size: .8rem
                    }


.footer {
    background: var(--azul);
    color: var(--blanco);
}

    .contiene-footer {
        padding: 5em 0;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between
    }

        .article-footer {
            width: 22%;
        }

            .article-footer h2{
                padding: 1em 0 .5em 0;
                margin: 0 0 .5em 0;
                border-bottom: 1px solid var(--blanco)
            }

            .article-footer ul li {
                display: block;
                line-height: 1.8rem
            }

            .article-footer ul li a{
                color: var(--blanco);
                padding: 0;
                margin: 0;
                font-weight: 400;
            }

            .article-footer ul li a:hover{
                color: var(--rojo);
            }

            #boton-comensales {
                border: none;
                outline: none;
                font-family: 'Montserrat', sans-serif;
                color: var(--azul);
                font-weight: 800;
                height: 50px;
                background: var(--blanco);
                padding: 0 4em;
                border-radius: 5px;
                cursor: pointer
            }

                #boton-comensales:hover {
                    color: var(--blanco);
                    background: var(--rojo);
                    transition: all ease .2s
                }

                    .iconos-social img {
                        width: 30px;
                        height: auto;
                        padding: 0 .5em 0 0
                    }

        .pie-footer {
            padding: 5em 0;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            position: relative
        }

            .pie-footer p {
                font-size: .8rem;
                font-weight: lighter
            }

            .pie-footer a {
                font-size: .8rem;
                color: var(--blanco);
                text-decoration: none;
            }

            .pie-footer a:hover {
                color: var(--rojo);
            }

        .pie-final {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: space-between
        }

            .logo-footer img {
                width: 200px;
                height: auto;
                display: block
            }

            .linea-footer {
                width: 100%;
                text-align: left;
                height: 1px;
                background: var(--gris);
                border-radius: 1px;
                margin: 1em 0
            }













